.image-html {
    transform: scale(1.3, 1);
    width: fit-content;
    margin-left: 23%;
    margin-top: 1%;
    // -webkit-transform-origin-x: 0;
    // -webkit-transform-origin-y: 0;
}
.image-container{
    border: 1px solid #78c14d;
    margin-bottom: 10px;
}
.green-str{
    color: #78c14d;
}