.image-html {
    transform: scale(1.4, 1);
    width: fit-content;
    margin-left: 23%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.image-container{
    border: 1px solid #78c14d;
    margin-bottom: 10px;
}
.green-str{
    color: #78c14d;
}