<br>
<!-- <span class="yellow-str">{{item.annotation != null ? item.annotation : '@Autowired'}}</span><br> -->
<span class="cl"><span class="yellow-str">{{ item.title }}</span> </span>
<br>
<div class="draw-line-class"></div>
<br>
<div class="variable-row" *ngFor="let itemx of item.specialsMap">
    <span class="func-name">&nbsp;&nbsp;&nbsp;{{itemx.name}}</span> <span class="white-class">: </span>
    <span class="func-specialty" ngClass="{{itemx.preStr ? 'green-str' : 'blue-str'}}" innerHTML="&nbsp;{{itemx.preStr ?
        '' : ''}}{{itemx.value}}{{itemx.postStr ? '' : ''}}"></span><span
        class="white-class"></span>
    <br>
</div>

<div class="row row-class" *ngFor="let itemx of item.functionalInfos">
    <app-function-view [item]="itemx"></app-function-view>
</div>
<!-- <br> -->

<br>