<div class="projects-grid">
  <div class="project-card" *ngFor="let project of data.projects">
    <h4>{{ project.name }}</h4>
    <div class="company-info">
      <span class="date">{{ project.startDate | date:'MMM yyyy' }} - {{ project.current ? 'Present' : (project.endDate | date:'MMM yyyy') }}</span>
    </div>
    <p class="description">{{ project.description }}</p>
    <div class="tech-stack">
      <span class="tech-tag" *ngFor="let tech of project.technologies">{{ tech }}</span>
    </div>
    <div class="project-links" *ngIf="project.links && project.links.length > 0">
      <a [href]="link.url" target="_blank" class="project-link" *ngFor="let link of project.links">
        <i [class]="link.icon"></i>
        {{ link.name }}
      </a>
    </div>
  </div>
</div> 